
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div style="text-align:center;">
<h2 style="font-family:samim">درباره ما</h2>
<p style="font-family:shabnam;">این وبسایت صرفا یک پروژه دانشجویی خنثی برای درس پایگاه داده بوده و هرگونه اطلاعات مربوط به قطار ها<br />جعلی و با هدف آموزش قرار داده شده اند.</b></p>
<br />
    <p style="font-family:shabnam;">از این رو مسئولیت هیچگونه خرید بلیط از این پروژه به عهده ما نخواهد بود.</p>
    <br /> <p style="font-family:shabnam;">تابستان - 1401</p>
</div>

