
@{
    ViewData["Title"] = "تماس با ما";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div style="text-align:center;">
    <h2 style="font-family:samim">تماس با ما</h2>
    <p style="font-family:shabnam;">جهت ارتباط با ما از طرق زیر اقدام فرمایید.</p>
    <br />
    <p style="font-family:shabnam;">E-Mail: Moghaddasiamin246[at]gmail.com</p>
    <br /> <p style="font-family:shabnam;">Telegram: t.me/ImProcrasinator</p>
</div>

