@{
    ViewData["Title"] = "خطا";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div style="text-align:center">
    <h3>خطای 404</h3>
    <p>صفحه مورد نظر یافت نشد و یا دسترسی به آن محدود شده است.</p>
</div>